#root {
    background-color: aliceblue;
    width:  700px;
    height: 500px; /* fixe */
    /* ou min-height: 200px; */
    margin: 0 auto;
    position: relative;
    display: block;
    overflow: hidden; /* pour éviter les débordements */
}
